body {
  background-color: #f5f5f5;
}

.hero {
  height: 90vh;
  background: linear-gradient(to right, #111, #333);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
}

.hero p {
  font-size: 20px;
  margin-top: 10px;
}

.products {
  padding: 80px 0;
}

.card img {
  height: 250px;
  object-fit: cover;
}

.navbar-nav {
  flex-direction: row;
  gap: 15px;
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 22px;
  }
}
.cart-icon {
  width: 32px;
  height: 32px;
}
